@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.appartments-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    position: relative;
    z-index: 1;
    max-width: 1100px;
    margin: 130px auto;
    .appartments_img_absolute{
        position: absolute;
        z-index: -1;
        left: -209px;
        top: 100px;
    }
    .appartments-container-box {
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 100px;

        .appartments-text-container {
            p {
                color: rgb(212, 193, 127);
                font-family: 'Playfair Display', sans-serif;
                font-size: 36px;
                font-weight: 700;
                line-height: -1px;
            }
        }

        .appartments-img-container {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .appartments-img-div1 {
                display: flex;
                align-items: center;
                gap: 30px;

                .appartments-element-img-div1 {
                    background-image: url(../../../assets/img/appartments/appartments_img1.png);
                    width: 535px;
                    height: 320px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: start;
                    padding: 50px 50px;

                    p {
                        color: rgb(255, 255, 255);
                        font-family: 'Raleway', sans-serif;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: -1px;
                    }
                }

                .appartments-element-img-div2 {
                    background-image: url(../../../assets/img/appartments/appartments2.png);
                    width: 535px;
                    height: 320px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: start;
                    padding: 50px 50px;
                    p {
                        color: rgb(255, 255, 255);
                        font-family: 'Raleway', sans-serif;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: -1px;
                    }
                }
            }

            .appartments-img-div2 {
                display: flex;
                align-items: center;
                gap: 30px;

                .appartments-element-img-div1 {
                    background-image: url(../../../assets/img/appartments/appartments_img1.png);
                    width: 535px;
                    height: 320px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: start;
                    padding: 50px 50px;
                    p {
                        color: rgb(255, 255, 255);
                        font-family: 'Raleway', sans-serif;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: -1px;
                    }
                }

                .appartments-element-img-div2 {
                    background-image: url(../../../assets/img/appartments/appartments2.png);
                    width: 535px;
                    height: 320px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: start;
                    padding: 50px 50px;
                    p {
                        color: rgb(255, 255, 255);
                        font-family: 'Raleway', sans-serif;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: -1px;
                    }
                }
            }
        }
    }
}