@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.testmoinals-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 794px;
    margin: 0 auto;
    .testmoinals-contaienr-box{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0px;
        
        
        .testmoinals-contaienr-text1{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap: 53px;
            p{
                width: 230px;
                color: rgb(255, 255, 255);
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 300;
                line-height: 27px;
                letter-spacing: 0%;
                text-align: center;
            }
        }
       
    }
    .testmoinals-img{
        position: absolute;
        right: -38%;
    }
}